@{ 
    Layout = "~/Views/Shared/_LayoutArticulo.cshtml";
}

<div id="delegedosCodigoFuente_1" class="codigoFuente">
    @Html.Action("_ConvertidorCodigo", "Articulo",
                 new { rutaCodigos = "MVC", idArticulo = "/Frameworks/Entity Framework" })
</div>
@section Styles{ 
    <style>
        .codigoFuente {
            width: 100%;
            margin: 1em 0;
        }
        #InfoArticulo {
            border-bottom: solid blue 2px;
        }

            #InfoArticulo > .Imagen > img {
                border-radius: 10px;
                border: solid 2px black;
                width: 800px;
            }
        #SeccionArticulo {
            background-image: url('https://www.fondosgratis.mx/imagenItem/11537/1366/nasa-theandromedagalaxym31spyralgalaxy.jpg');
            background-color: rgba(255, 255, 255, 0.5);
        }
            #SeccionArticulo > .SeccionComentarios {
                background-color: black;
                background-image: url('https://www.fondosgratis.mx/imagenItem/15199/1366/wallpaper-840174.jpg');
            }
    </style>
}