@{ 
    Layout = "~/Views/Shared/_LayoutArticulo.cshtml";
}
<div id="delegedosCodigoFuente_1" class="codigoFuente">
    @Html.Action("_ConvertidorCodigo", "Articulo",
                 new { rutaCodigos = "MVC", idArticulo = "/Frameworks/Entity Framework" })
</div>
@section Styles{ 
    <style>
        .codigoFuente {
            width: 100%;
            margin: 1em 0;
        }
        #InfoArticulo {
            border-bottom: solid white 2px;
        }    
        #InfoArticulo > .Imagen > img {
            border-radius: 10px;
            border: solid 2px black;
        }
        .FondoSeccionContenidoFijo {
            background-image: url('https://www.fondosgratis.mx/imagenItem/11537/1366/nasa-theandromedagalaxym31spyralgalaxy.jpg');
        }
        #SeccionArticulo > .SeccionComentarios, #SeccionArticulo > .FondoSeccionContenido,
            #fondoMenu {
            background-color: rgba(0,0,0,0.7);
        }
        #InfoArticulo > .Titulo,
        #InfoArticulo > .Descripcion{
            color: whitesmoke;
        }
        #InfoArticulo > .Autor > .Nombre > span {
            color: lawngreen;
        }
        #InfoArticulo > .Autor > .Fecha > span,
        #InfoArticulo > .Autor > .Nombre > span:first-child {
            color: white;
        }
    </style>
}