@{ 
    Layout = "~/Views/Shared/_LayoutArticulo.cshtml";
}
<div id="SeccionVisualizadorCodigos">
    <div id="delegedosCodigoFuente_1" class="codigoFuente">
        @Html.Action("_ConvertidorCodigo", "Articulo",
                new { rutaCodigos = "MVC", idArticulo = "/Frameworks/Entity Framework" })
    </div>
</div>
@section Styles{ 
    <style>
        #delegedosCodigoFuente_1 {
            width: 80%;
            margin: 0 auto;
        }
        #SeccionVisualizadorCodigos {
            position: relative;
            width: 100%;
            background-image: url('../../Resources/imagenes/home/fondo5.jpeg');
            background-size: contain;
            padding: 1em 0;
        }
    </style>
}