@model centro.recursos.net.Models.Entity_Framework.Articulo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>LINQ</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Resources/css/comentarios.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Resources/javascript/comentarios.js"></script>
</head>
<body>
    <div class="center">
        @Html.Action("_Comentarios", new { IdArticulo = "/CSharp/LINQ"})
    </div>
</body>
</html>
