@{ 
    Layout = "~/Views/Shared/_LayoutArticulo.cshtml";
}

<div id="delegedosCodigoFuente_1" class="codigoFuente">
    @Html.Action("_ConvertidorCodigo", "Articulo",
                 new { rutaCodigos = "MVC", idArticulo = "/Frameworks/Entity Framework" })
</div>
@section Styles{ 
    <style>
        .codigoFuente {
            width: 100%;
            margin: 1em 0;
        }
    </style>
}