#contenedorCarrusel {
    width: 85%;
    margin: 0 auto;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

#contenedorCarrusel div {
    box-sizing: border-box;
}

#ventanaCarrusel {
    width: 100%;
    position: relative;
    height: 500px;
    overflow: hidden;
    border: 1.2px solid blue;
}

#ventanaCarrusel:hover>div.herramientas {
    visibility: visible;
    opacity: 1;
}

.herramientas {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    -moz-transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.contenidoCarrusel {
    width: 400%;
    /* Definir en función del número de elementos del carrusel */
    height: 100%;
    position: absolute;
    top: 0;
    left: -300%;
}

.animaCarrusel {
    -webkit-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -moz-transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.contenidoCarrusel>div {
    float: right;
    width: 25%;
    /* Definir en función del número de elementos del carrusel */
    height: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

#contenidoFlechas>img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    margin-right: 0.2em;
    right: 0;
    cursor: pointer;
}

#contenidoFlechas>img:last-child {
    left: 0;
    margin-left: 0.2em;
}

#contenidoBtns {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#contenidoBtns>img {
    margin-right: 0.2em;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#contenidoBtns>img:last-child {
    margin-right: 0;
}

.contenidoCarrusel>div a {
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: mediumorchid;
    color: white;
    padding: 0.5em 1em;
    font-size: 0.8em;
}

#cont_2 {
    display: none;
}