        #dialogMsjArtRelGContenedor{
            left: 0;
            position: fixed;
            width: 300px;
            top: 50%;
        }
        #dialogMsjArtRelG{
            position: relative;
            width: 100%;
            box-shadow: 0 0 10px black;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            background-color: rgb(255, 255, 255);
            left: -100%;
            transition: 1s all cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        #dialogMsjArtRelG > .Flecha{
            position: absolute;
            right: 0;
            margin-right: -30px;
            width: 25px;
            height: 100%;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            transition: all 1s linear;
        }
        #dialogMsjArtRelG > .Flecha > img{
            position: relative;
            top: 50%;
            width: 22px;
            height: 22px;
            margin-top: -11px;
            cursor: pointer;
        }
        #dialogMsjArtRelG > .Flecha:hover{
            background-color:transparent;
        }
        #dialogMsjArtRelG > .Titulo{
            font-size: 1.3em;
            text-align: center;
        }
        #dialogMsjArtRelG > .Contenido{
            overflow: auto;
            max-height: 222px;
            margin: 0.5em;
        }
        #dialogMsjArtRelG > .Contenido > table{
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 0.5em;
        }
        #dialogMsjArtRelG > .Contenido > table tr{
            border-bottom: solid gray 1px;
        }
        #dialogMsjArtRelG > .Contenido > table tr a{
            text-decoration: none;
            color: blue;
        }
        #dialogMsjArtRelG > .Contenido > table tr th{
            text-align: left;
        }
        #dialogMsjArtRelG > .Contenido > table tr td, #dialogMsjArtRelG > .Contenido > table tr th{
           padding: 1em 0;
        }
        #dialogMsjArtRelG > .cerrar{
            position: absolute;
            right: 0;
            top:0;
            margin-top: -10px;
            margin-right: -10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: none;
        }