.noticiasR {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 1em 0;
    position: absolute;
}

.noticiasR:last-child {
    bottom: 0;
}

.noticiasR:first-child {
    top: 0;
}

.tituloNR {
    text-align: center;
    font-size: 1.5em;
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin: 0;
    position: relative;
    left: -100%;
    transition: all 1s linear;
    background-color: rgba(224, 224, 224, 0.5);
}

.noticiasR>.bloqueNR {
    box-sizing: border-box;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0.5em;
    border: 1px solid gray;
    float: left;
    background-color: rgba(224, 224, 224, 0.8);
    transition: all 1s linear;
}

.noticiasR>.bloqueNR:hover {
    border-radius: 50px;
    box-shadow: 0 0 30px black;
}

.noticiasR:hover> :first-child {
    left: 0;
}

.noticiasR>.bloqueNR:last-child {
    margin-right: 0;
}

.noticiasR>.bloqueNR>p {
    text-align: center;
    font-family: Circular, Helvetica, Arial, sans-serif;
    color: navy;
}

.noticiasR>.bloqueNR>p:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.noticiasR>.bloqueNR>p>img {
    width: 60px;
    height: 60px;
}

.noticiasR>.bloqueNR>p>a {
    text-decoration: none;
    font-family: Circular, Helvetica, Arial, sans-serif;
}