.popupGv_validacion{
    position: absolute;
    display: none;
}
.popupGv_validacion > .Titulo, .popupGv_validacion > .Contenido{
    position: relative;
    z-index: 1;
    border: solid blueviolet 1px;
}
.popupGv_validacion > .Titulo{
    text-align: center;
    background-color: white;
    border-bottom: 0;
}
.popupGv_validacion > .Titulo > span{
    color: black;
}
.popupGv_validacion > .Contenido, .popupGv_validacion > .Flecha{
    background-color: blue;
}
.popupGv_validacion > .Contenido{
    border-top: 0;
}
.popupGv_validacion > .Contenido > span{
    color: whitesmoke;
    position: relative;
    display: inline-block;
}
.popupGv_validacion > .Cerrar{
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
.popupGv_validacion > .Flecha{
    top: 50%;
    left: 0;
    position: absolute;
    transform: rotate(45deg);
}

@media screen and (min-width: 1025px){
    .popupGv_validacion{
        width: 250px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px gray;
    }

    .popupGv_validacion > .Titulo, .popupGv_validacion > .Contenido{
        width: 100%;
        padding: 0.5em 0;
    }

    .popupGv_validacion > .Titulo{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .popupGv_validacion > .Titulo > span{
        font-size: 0.9em;
    }
    .popupGv_validacion > .Contenido{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .popupGv_validacion > .Contenido > span{
        margin: 0 0.5em;
        font-size: 0.7em;
    }
    .popupGv_validacion > .Cerrar{
        width: 12px;
        height: 12px;
        margin-right: -6px;
        margin-top: -6px;
    }
    .popupGv_validacion > .Flecha{
        width: 12px;
        height: 12px;
        margin-top: -6px;
        margin-left: -6px;
    }
}

@media screen and (min-width: 675px) and (max-width: 1025px) {
    .popupGv_validacion{
        width: 200px;
        border-radius: 8px;
        box-shadow: 8px 8px 8px gray;
    }

    .popupGv_validacion > .Titulo, .popupGv_validacion > .Contenido{
        width: 100%;
        padding: 0.3em 0;
    }

    .popupGv_validacion > .Titulo{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .popupGv_validacion > .Titulo > span{
        font-size: 0.8em;
    }
    .popupGv_validacion > .Contenido{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .popupGv_validacion > .Contenido > span{
        margin: 0 0.3em;
        font-size: 0.6em;
    }
    .popupGv_validacion > .Cerrar{
        width: 12px;
        height: 12px;
        margin-right: -6px;
        margin-top: -6px;
    }
    .popupGv_validacion > .Flecha{
        width: 10px;
        height: 10px;
        margin-top: -5px;
        margin-left: -5px;
    }
}

@media screen and (min-width: 100px) and (max-width: 675px){
    .popupGv_validacion{
        width: 125px;
        border-radius: 7px;
        box-shadow: 7px 7px 7px gray;
    }

    .popupGv_validacion > .Titulo, .popupGv_validacion > .Contenido{
        width: 100%;
        padding: 0.2em 0;
    }

    .popupGv_validacion > .Titulo{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .popupGv_validacion > .Titulo > span{
        font-size: 0.8em;
    }
    .popupGv_validacion > .Contenido{
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .popupGv_validacion > .Contenido > span{
        margin: 0 0.2em;
        font-size: 0.6em;
    }
    .popupGv_validacion > .Cerrar{
        width: 10px;
        height: 10px;
        margin-right: -5px;
        margin-top: -5px;
    }
    .popupGv_validacion > .Flecha{
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -4px;
    }
}