<div id="popupG">
    <img src="/Resources/imagenes/popupG/okicono.png" id="popupG_OK" class="popupG_icono" />
    <img src="/Resources/imagenes/popupG/msjicono.png" id="popupG_MSJ" class="popupG_icono" />
    <img src="~/Resources/imagenes/popupG/loading.gif" id="popupG_LOAD" class="popupG_icono" />
    <!-- Plantilla de formulario de campos para componente comentarios. -->
    <!--No introducir elementos hijo antes de input "Correo electrónico"-->
    <div id="popupG_Campos" class="campos popupG_icono">
        <p><input type="text" placeholder="Correo electrónico" /></p>
        <p><input type="text" placeholder="Nombre" /></p>
        <div class="avatar">
            <div>
                <div><img src="/Resources/imagenes/comentarios/avatar.jpg" /></div>
                <div><img src="/Resources/imagenes/comentarios/akane.jpg" /></div>
                <div><img src="/Resources/imagenes/comentarios/ranma.jpg" /></div>
            </div>
            <img src="/Resources/imagenes/popupG/flechaI.png" class="flechaI" />
            <img src="/Resources/imagenes/popupG/flechaD.png" class="flechaD" />
        </div>
    </div>
    <!-- FIN Plantilla de formulario de campos para componente comentarios. -->
    <div id="popupG_preguntas">
        <img src="/Resources/imagenes/comentarios/salir.png" class="cerrar" />
        <div class="icono"></div>
        <p class="titulo"></p>
        <div class="contenido"></div>
        <div class="botones"></div>
    </div>
</div>