<div id="FondoPopupGr" >
    <div id="popupGr">
        <img src="/Resources/imagenes/comentarios/salir.png" class="cerrar" />
        <div class="Titulo">
            Resultado de búsqueda
        </div>
        <div class="Contenido">
            <div class="Busqueda">
                <div id="buscarPopupGr">
                    <img src="~/Resources/imagenes/menu/busqueda.png" />
                    <input type="text" placeholder="buscar...">
                </div>
            </div>
            <p></p>
            <table class="ResultadosBusqueda">
                <thead>
                    <tr>
                        <th>Art&iacute;culo</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
