<div class="popupGv_validacion" id="popupGv_validacion_model">
    <div class="Titulo"><span></span></div>
    <div class="Contenido"><span></span></div>
    <img src="/Resources/imagenes/comentarios/salir.png" class="Cerrar" alt="Salir"/>
    <div class="Flecha"></div>
</div>
